.banner {
    background-color: rgb(19, 18, 18);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#intro-photo {
    height: 550;
    width:750;
}

#about-photo {
    height: 500px;
    width: 650px;
}

.bold {
    font-weight: 900;
}


.topnav {
    background-color: orangered;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
background-color: #193fa0;
color: white;
}